[submodule "BackBeat/vendor/spdlog"]
	path = BackBeat/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BackBeat/vendor/imgui"]
	path = BackBeat/vendor/imgui
	url = https://github.com/ocornut/imgui
