[submodule "BackBeat/vendor/spdlog"]
	path = BackBeat/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = BackBeat/vendor/glfw
	url = https://github.com/nicholasp13/glfw.git
[submodule "imgui"]
	path = BackBeat/vendor/imgui
	url = https://github.com/nicholasp13/imgui.git
[submodule "BackBeat/vendor/lodepng"]
	path = BackBeat/vendor/lodepng
	url = https://github.com/nicholasp13/lodepng
[submodule "BackBeat/vendor/pugixml"]
	path = BackBeat/vendor/pugixml
	url = https://github.com/nicholasp13/pugixml.git
[submodule "BackBeat/vendor/imgui-knobs"]
	path = BackBeat/vendor/imgui-knobs
	url = https://github.com/nicholasp13/imgui-knobs.git
